@model SanctionScanner.DeveloperPortal.WebSamples.Models.JsonResponse
@using System.Xml.Linq
@using Newtonsoft.Json

@{
    ViewBag.Title = "Get Statistics With Date Range";

    var json = "";
    if (Model != null)
    { json = Model?.response; }

}
<link href="~/Assets/css/json-viewer.css" rel="stylesheet">

<h2>Get Statistics With Date Range</h2>
<hr />
<form action="" method="post">
    <div class="row">
        <br />
        <div class="col-md-6">
            Start Date:
            <br />
            <input type="date" name="StartDate" />
            <br />
            <br />

            End Date:
            <br />
            <input type="date" name="EndDate" />
            <br />
            <br />
        </div>
    </div>


    <button type="submit" id="" name="" class="btn btn-danger">Search</button>
    <br />
    <br />

</form>

@if (Model != null)
{
<textarea style="width: 0; min-height: 0;" hidden>@Html.Raw(Html.Encode(Model.response))</textarea>

}
<div id="json"></div>
@*<pre class="line-numbers language-json" lang="json">
    <code class="language-json">
            @Html.Raw(Html.Encode(Model.response))
        </code>
    </pre>*@


<script src="~/Assets/js/json-viewer.js"></script>

<script>

    var jsonObj = {};
    var jsonViewer = new JSONViewer();
    document.querySelector("#json").appendChild(jsonViewer.getContainer());
    var textarea = document.querySelector("textarea");

    // textarea value to JSON object
    var setJSON = function () {
        try {
            var value = textarea.value;
            jsonObj = JSON.parse(value);
        }
        catch (err) {
            alert(err);
        }
    };

    // load default value
    if ('@json' !== '')
    {
        setJSON();
        jsonViewer.showJSON(jsonObj);
    }


</script>