@model SanctionScanner.DeveloperPortal.WebSamples.Models.JsonResponse
@using System.Xml.Linq
@using Newtonsoft.Json

@{
    ViewBag.Title = "White List Update";

    var json = "";
    if (Model != null)
    { json = Model?.response; }

}
<link href="~/Assets/css/json-viewer.css" rel="stylesheet">

<script type="text/javascript">
    function check() {
        var dropdown = document.getElementById("secim");
        var current_value = dropdown.options[dropdown.selectedIndex].value;

        if (current_value == "1") {
            document.getElementById("gizle1").style.display = "block";
            document.getElementById("gizle2").style.display = "block";
        }
        else {
            document.getElementById("gizle1").style.display = "none";
            document.getElementById("gizle2").style.display = "none";
        }
    }
</script>

<h2>White List Update</h2>
<hr />
<form action="" method="post">
    <div class="row">
        <br />
        <div class="col-md-6">

            Type Id:
            <br />
            <select name="TypeId" id="secim" onchange="check();">
                <option value="1">Individual</option>
                <option value="2">Corporate</option>
                <option value="3">Vessel</option>
                <option value="4">Aircraft </option>
            </select>
            <br />
            <br />

            Name:
            <br />
            <input type="text" name="name" />
            <br />
            <br />

            <div id="gizle1">
                Identity Number:
                <br />
                <input type="text" name="IdentityNumber" />
                <br />
                <br />
            </div>
            
            Guid:
            <br />
            <input type="text" name="Guid" />
            <br />
            <br />

        </div>
        <div class="col-md-6">
            <div id="gizle2">
                Passport Number:
                <br />
                <input type="text" name="PassportNumber" />
                <br />
                <br />
            </div>
            Reference Number:
            <br />
            <input type="text" name="ReferenceNumber" />
            <br />
            <br />

            Description:
            <br />
            <input type="text" name="Description" />
            <br />
            <br />

        </div>
    </div>


    <button type="submit" id="" name="" class="btn btn-danger">Search</button>
    <br />
    <br />
    <div class="row">
        <br />
        <div class="col-md-6">

        </div>
    </div>
</form>

@if (Model != null)
{
<textarea style="width: 0; min-height: 0;" hidden>@Html.Raw(Html.Encode(Model.response))</textarea>

}
<div id="json"></div>
@*<pre class="line-numbers language-json" lang="json">
    <code class="language-json">
            @Html.Raw(Html.Encode(Model.response))
        </code>
    </pre>*@


<script src="~/Assets/js/json-viewer.js"></script>

<script>

    var jsonObj = {};
    var jsonViewer = new JSONViewer();
    document.querySelector("#json").appendChild(jsonViewer.getContainer());
    var textarea = document.querySelector("textarea");

    // textarea value to JSON object
    var setJSON = function () {
        try {
            var value = textarea.value;
            jsonObj = JSON.parse(value);
        }
        catch (err) {
            alert(err);
        }
    };

    // load default value
    if ('@json' !== '')
    {
        setJSON();
        jsonViewer.showJSON(jsonObj);
    }


</script>